@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



@section Scripts
{
    <script>
        function relocate() {
            location.href = "/Home/SignIn";
        }
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }
        function Validate(mail) {
            if (mail == "") {
                return "Email cannot be Empty";
            }
            if(validateEmail(mail)==false)
            {
                return "Invalid Email Formate";
            }
            return true;
        }

        $(function () {
            $("#submitBtn").click(function () {
                {
                    var log = $("#email").val();
                    var pas = null;

                    var emailTest = Validate(log);
                    if (emailTest != true)
                    {
                        alert(emailTest);
                        return false;
                    }
                    var d = { "login": log, "password": pas, };

                    var settings = {
                        type: "POST",
                        dataType: "json",
                        url: "/api/User/VerifyEmail",
                        data: d,
                        success: function (resp) {
                            document.getElementById("stat").innerHTML = resp.message;

                        },
                        error: function (e) {
                        }

                    };
                    $.ajax(settings);
                    return false;
                }
            });
        });
    </script>
}


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" style="border:solid 1px black;border-radius:5px;padding:20px">
            <h3>ForgotPassword</h3>
            <div>
                <input type="text" id="email" class="form-control" placeholder="Enter Email Here"/>
                <span id="stat" style="color:red"></span><br />
                <button type="submit" id="submitBtn" class="btn btn-default">Verify</button>
                <button type="submit" class="btn btn-success pull-right" onclick="relocate()">Sign In</button>
            </div>
        </div>
    </div>
</div>
