
@{
    ViewBag.Title = "InvalidCode";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>InvalidCode</h2>

<span style="color:red;font-size:30px">The Token is expired<br />Submit an other request to change password.</span>
<span style="color:green;font-size:30px">Thanks</span>

