
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



@section Scripts
{
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        $(function () {
            $("#submitBtn").click(function () {
               var pass= $("#newPass").val();
               var newPass = $("#confirm_newPass").val();
               var email = null;
               if(pass.length!="" && newPass!="")
               {
                   if (pass.length >= 5 && newPass.length >= 5) {
                       if (pass != newPass) {
                           alert("Password Does not match");
                           return false;
                       }
                   }
                   else {
                       alert("Passowrd Too Short");
                       return false;
                   }
               }
               else {
                   alert("Password Cannot be empty");
                   return false;
               }

              
               var login = getUrlVars()["login"];
               var code = getUrlVars()["code_for_reset"];

               var d = { "login": login, "password": pass, "code_for_reset": code };

               var settings = {
                   type: "POST",
                   dataType: "json",
                   url: "/api/User/UpdatePassword",
                   data: d,
                   success: function (resp) {
                       if (resp.valid == true) {
                           alert(resp.message);
                           location.href = resp.urlToRedirect;
                       }
                       else
                           alert(resp.message);
                   },
                   error: function (e) {
                       alert("Error");
                   }

               };
               $.ajax(settings);
               return false;
           });
       });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" style="border:solid 1px black;border-radius:5px;padding:20px">
            <h2>NewPassword</h2>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" id="newPass" class="form-control"/>
                <label>Confirm New Password</label>
                <input type="password" id="confirm_newPass" class="form-control"/><br />
                <input type="submit" value="Update Password" id="submitBtn" class="btn btn-info"/>
            </div>
        </div>
    </div>
</div>

